    <div class="column-one-third">
  
      <div class="get-started">

        <h3 class="heading-medium">Get started</h3>

        <ol class="list list-number">
          <li>
            <span class="step-to-start">
              {% include "includes/get_started/1.html" %}
            </span>
          </li>
          <br>
          <li>
            <span class="step-to-start">
              {% include "includes/get_started/2.html" %}
            </span>
          </li>
          <br>
	        <li>
	          <span class="step-to-start">
	            {% include "includes/get_started/3.html" %}
	          </span>
	        </li>
          <br>
          <li>
            <span class="step-to-start">
              {% include "includes/get_started/4.html" %}
            </span>
          </li>
          <br>
          <li>
            <span class="step-to-start">
              {% include "includes/get_started/5.html" %}
            </span>
          </li>
          <br>
          <li>
            <span class="step-to-start">
              {% include "includes/get_started/6.html" %}
            </span>
          </li>
        </ol>

      </div>

    </div>
