    <div class="column-one-third">
  
      <div class="get-started">

        <h3 class="heading-medium">Get started</h3>

        <ol class="list list-number">
          
          <li>
            <span class="step-to-start">
              Name and describe your dataset
            </span>
          </li>
          <br>
          <li>
            <span class="step-to-start">
              Upload your dataset
            </span>
          </li>
          <br>
	        <li>
	          <span class="step-to-start">
	            Describe metadata for your dataset
	          </span>
	        </li>
          <br>
          <li>
            <span class="step-to-start">
              Tag your dataset by theme
            </span>
          </li>
          <br>
          <div id="active-step">
          <li>
            <span class="step-to-start">
              Decide permissions
            </span>
          </li>
          </div>
          <br>
          <li>
            <span class="step-to-start">
              Understand responsibilities
            </span>
          </li>
        </ol>

      </div>

    </div>
