

	<div class="column-one-quarter" style="width:20%;">
	
		<div id="side-navigation">

			<p class="bold">Land Registry</p>

	        <p>
	          <a href="#"> 
	            Homepage
	          </a>
	        </p>

	        <p>
	          <a href="/manage_data/"> 
	            Manage your data
	          </a>
	        </p>

	        <p>
	          <a href="#"> 
	            Datasets
	          </a>
	        </p>

	        <p>
	          <a href="#"> 
	            Setting
	          </a>
	        </p>

        </div>

    </div>