

	<div class="column-one-quarter" style="width:20%;">

		<div id="side-navigation">

			<p class="bold">Land Registry</p>

	        <p>
	          <a href="/dashboard">
	            Dashboard
	          </a>
	        </p>

	        <p>
	          <a href="/datasets">
	            Manage your data
	          </a>
	        </p>

	        <p>
	          <a href="/harvest/list">
	            Harvesters
	          </a>
	        </p>

	        <p>
	          <a href="/settings">
	            Settings
	          </a>
	        </p>

        </div>

    </div>