

	<div class="column-one-quarter" style="width:20%;">

		<div id="side-navigation">

			<p class="bold">Land Registry</p>

	        <p>
	          <a href="#">
	            Homepage
	          </a>
	        </p>

	        <p>
	          <a href="/manage_data/">
	            Manage your data
	          </a>
	        </p>

	        <p>
	          <a href="/datasets">
	            Datasets
	          </a>
	        </p>

	        <p>
	          <a href="#">
	            Settings
	          </a>
	        </p>

        </div>

    </div>