<div class="grid-row">
    <div class="column-two-thirds">
        <img src="/public/images/wms_preview.png" width="480px;"/>
    </div>
    <div class="column-one-third">
        <h2 class="heading-small">Layers</h2>

        <label for="rental" class="block-label"">
            <input type="checkbox" name="rental" value="" checked="checked">
            Broad Rental Market Areas
        </label>

        <label for="lau" class="block-label"">
            <input type="checkbox" name="lau" value="" id="lau">
            Local Administrative Units
        </label>

        <label for="iz" class="block-label"">
            <input type="checkbox" name="iz" value="" id="iz">
            Intermediate Zones
        </label>

    </div>
</div>