// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

.bordered {
  border-bottom: solid 2px #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
}

.team-member-name {
  padding-left: 1em;
  padding-bottom: 1em;
}

.step {
  margin-left: 20px;
  font-size: smaller;
  font-weight: bold;
}

pre.language-markup {
  background-color: #F5F2F0;
}

.csv-preview {
  border:5px solid #dee0e2;
  margin:30px 0 30px
}
.csv-preview-inner {
  border:1px solid #bfc1c3;
  padding:10px 24px;
  height: 800px;
  overflow:auto
}

.error-cell {
  background-color: #FF5353;
  color: #fff;
  padding: 4px;
  font-weight: bold;
}

#back a {
  display: inline-block;
  margin-top: 15px;
  padding-left: 14px;
  border-bottom: #0b0c0c 1px solid;
  color: #0b0c0c;
  text-decoration: none;
  background: url("/public/images/icon-caret-left.png") no-repeat 0 4px;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.bold {
  font-weight: 700;
}

// Guidance styling

.pattern_nav li {
  font-size: 16px;
}

.design-pattern {
  font-size: 24px;
  line-height: 1.1111111111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  display: block;
  color: #6f777b;
}

// Hide Crown

.header-logo img {
  display: none;
}

.design-update {
  font-size: 14px;
}

// product page

#product-style {
  background-color: #005EA5;
  color: #ffffff;
}

#product-style a {
  color: #ffffff;
}

.bold {
  font-weight: 700;
}

// Make sign in link right-align
#global-header .header-proposition #proposition-links li {
  float: right;
  text-align: right;
  padding: 5px 0 0 0;
}

.js-enabled #global-header .header-proposition {

  #proposition-name,
  #proposition-links {
    width: 50%;
    display: block;
    float: left;
    clear: none;
  }

  #proposition-links {
    position: relative;
    top: -1px;
  }

}

// product page

#product-style {
  background-color: #005EA5;
  color: #ffffff;
}

#product-style a {
  color: #ffffff;
}

// buttons

.login-white {
  padding-left: 6px;
  line-height: 40px;
}

.login-white a {
  color: #ffffff;
}

.login-normal {
  padding-left: 6px;
  line-height: 40px;
}

#product-tasks {
  font-size: 24px;
}

// dashboard

.dashboard-panel {
  padding: .5em;
  margin-bottom: 18px;
  width: 45%;
  margin-right: 12px;

  .big-number {
    font-size: 200%;
    font-weight: bold;
    height: 3.5em;

    color: #fff;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 16px;
  }

  &.panel-published {
    background-color: $govuk-blue;
  }

  &.panel-broken {
    background-color: $error-colour;
  }

  a {
    color: #fff;
  }

}


// side navigation

#side-navigation {
  margin-top: 56px;
  font-weight: 700px;
}

#side-navigation a {
  font-weight: 700px;
}

#side-navigation p {
  font-weight: 700px;
}

// get started

.get-started {
  background-color: #005EA5;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 18px;
  padding-bottom: 8%;
}

.get-started h3 {
  font-weight: 400;
  padding-top: 18px;
}

.get-started li {
  font-size: 24px;
  font-weight: 700;
  opacity: 0.5;
}

.step-to-start {
  font-weight: 400;
  font-size: 19px;
}

#active-step li {
  opacity: 1;
}

// upload

.bold-date {
  font-weight: 700;
  color: $text-colour;
}


// search box

.in-manual-search {
  position: relative;
}

.in-manual-search label {
  padding-bottom: 5px;
}

.in-manual-search #search-box {
  width: 90%;
  border: none;
  padding: 6px;
  border: 2px solid $grey-1;
}

.in-manual-search button {
  width: 40px;
  height: 40px;
  border: 1px solid #0b0c0c ;
  border-width: 0 0 0 1px;
  border-left-color: #222;
  overflow: hidden;
  text-indent: -5000px;
  cursor: pointer;
  color: #fff;
  background: #0b0c0c url(https://assets.publishing.service.gov.uk/manuals-frontend/search-button-de28edec94868c92285a8f97a79bb469.png)
  no-repeat 0 50%;
  position: absolute;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

// Filter box
.filtered-table {
  table {
    margin-bottom: 1em;
  }
  .filter-panel {
    margin-bottom: 1em;
    padding: .5em;
    background-color: $panel-colour;
    h2 {
      margin-top: 0;
    }
    label {
      display: block;
    }
    input[type="submit"] {
      margin-left: 1em;
    }
    input[type="text"] {
      width: 80%;
    }
    .statuses {
      legend {
        display: inline;
      }
    }
    .button.filter {
      background-color: $grey-1;
      margin-top: 1em;
    }
  }
}

ul.publisher-tasks li::before {
  content: "➜ "
}

div.dataset-preview {
  margin-top: 1em;
  overflow-x: scroll;
  width: 100%;
}

ul.themes {
  background-color: $panel-colour;
  width: 60%;
  padding: 1em;
  font-size: 120%;
}

.just-added {
  background-color: #ffdfa4;
}
