// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

.bordered {
  border-bottom: solid 2px #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
}

.team-member-name {
  padding-left: 1em;
  padding-bottom: 1em;
}

.step {
  margin-left: 20px;
  font-size: smaller;
  font-weight: bold;
}

pre.language-markup {
  background-color: #F5F2F0;
}

.csv-preview {
  border:5px solid #dee0e2;
  margin:30px 0 30px
}
.csv-preview-inner {
  border:1px solid #bfc1c3;
  padding:10px 24px;
  height: 800px;
  overflow:auto
}

.error-cell {
  background-color: #FF5353;
  color: #fff;
  padding: 4px;
  font-weight: bold;
}

#back a {
  display: inline-block;
  margin-top: 15px;
  padding-left: 14px;
  border-bottom: #0b0c0c 1px solid;
  color: #0b0c0c;
  text-decoration: none;
  background: url("/public/images/icon-caret-left.png") no-repeat 0 4px;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.bold {
  font-weight: 700;
}

// Guidance styling

.pattern_nav li {
  font-size: 16px;
}

.design-pattern {
  font-size: 24px;
  line-height: 1.1111111111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  display: block;
  color: #6f777b;
}

// Hide Crown

#global-header #logo {
  background-image: none;
}

.header-logo img {
  display: none !important;
}

.design-update {
  font-size: 14px;
}

// product page

#product-style {
  background-color: #005EA5;
  color: #ffffff;
}

#product-style a {
  color: #ffffff;
}

.bold {
  font-weight: 700;
}

// Make sign in link right-align
#global-header .header-proposition #proposition-links li {
  float: right;
  text-align: right;
  padding: 5px 0 0 0;
}

.js-enabled #global-header .header-proposition {

  #proposition-name,
  #proposition-links {
    width: 50%;
    display: block;
    float: left;
    clear: none;
  }

  #proposition-links {
    position: relative;
    top: -1px;
  }

}

// product page

#product-style {
  background-color: #005EA5;
  color: #ffffff;
}

#product-style a {
  color: #ffffff;
}

// buttons

.login-white {
  padding-left: 6px;
  line-height: 40px;
}

.login-white a {
  color: #ffffff;
}

.login-normal {
  padding-left: 6px;
  line-height: 40px;
}

#product-tasks {
  font-size: 24px;
}

// dashboard

.dashboard {
  a:visited {
    color: $link-colour;
  }
  .bignum {
    font-size: 200%;
    padding-right: .5em;
  }
  .table-title {
    > h2 {
      display: table-cell;
      width: 100%;
      vertical-align: baseline;
    }
    > div {
      display: table-cell;
      min-width: 10em;
      vertical-align: baseline;
      text-align: right;
    }
  }
  .actions {
    text-align: right;
    padding-right: 0;
  }
  .overdue {
    color: $error-colour;
    border-left: 4px solid $error-colour;
    padding-left: 2px;
  }
  .passed {
    color: $grey-1;
  }
  .update {
    padding-right: .5em;
  }
  h2 {
    margin-bottom: 0;
  }
  table {
    margin-bottom: 2em;
    &.todos {
      border-top: 1px solid $grey-2;
    }
    td {
      .nb-downloads {
        display: inline-block;
        min-width: 3em;
      }
    }
    td {
      span.text-supporting {
        color: $grey-1;
      }
    }
  }
}

// side navigation

#side-navigation {
  margin-top: 56px;
  font-weight: 700px;
}

#side-navigation a {
  font-weight: 700px;
}

#side-navigation p {
  font-weight: 700px;
}

// get started

.get-started {
  background-color: #005EA5;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 18px;
  padding-bottom: 8%;
}

.get-started h3 {
  font-weight: 400;
  padding-top: 18px;
}

.get-started li {
  font-size: 24px;
  font-weight: 700;
  opacity: 0.5;
}

.step-to-start {
  font-weight: 400;
  font-size: 19px;
}

#active-step li {
  opacity: 1;
}

// upload

.bold-date {
  font-weight: 700;
  color: $text-colour;
}


// search box

.in-manual-search {
  position: relative;
}

.in-manual-search label {
  padding-bottom: 5px;
}

.in-manual-search #search-box {
  width: 90%;
  border: none;
  padding: 6px;
  border: 2px solid $grey-1;
}

.in-manual-search button {
  width: 40px;
  height: 40px;
  border: 1px solid #0b0c0c ;
  border-width: 0 0 0 1px;
  border-left-color: #222;
  overflow: hidden;
  text-indent: -5000px;
  cursor: pointer;
  color: #fff;
  background: #0b0c0c url(https://assets.publishing.service.gov.uk/manuals-frontend/search-button-de28edec94868c92285a8f97a79bb469.png)
  no-repeat 0 50%;
  position: absolute;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

// Filter box
.filtered-table {
  table {
    margin-bottom: 1em;
  }
  .filter-panel {
    margin-bottom: 1em;
    padding: .5em;
    background-color: $panel-colour;
    h2 {
      margin-top: 0;
    }
    label {
      display: block;
    }
    input[type="submit"] {
      margin-left: 1em;
    }
    input[type="text"] {
      max-width: 40%;
    }
    .statuses {
      legend {
        display: inline;
      }
    }
  }
}

ul.publisher-tasks li::before {
  content: "➜ "
}

div.dataset-preview {
  margin-top: 1em;
  overflow-x: scroll;
  width: 100%;
}

.just-added {
  background-color: #ffdfa4;
  border-radius: 20px;
  opacity: 0;
}


.form-group input[name=period-year] {
  width: 70px;
}

form.compact {
  line-height: 1.6;
  legend {
    font-weight: bold;
  }
  fieldset ul {
    margin-left: 2em;
    li.form-group {
      margin-bottom: 0;
      input[type=text].title { width: 29% }
      input[type=text].url { width: 70% }
    }
  }
  .form-date .form-group {
    width: 80px;
    margin-right: 0;
    label {
      display: inline;
    }
    input[type=number] {
      width: 75%;
    }
  }
  .form-group {
    input[type=text], textarea, label {
      width: 100%;
      &.inline {
        display: inline;
        width: 9em;
        font-size: 80%;
      }
    }
    textarea {
      height: 4em;
    }
    label.small-label {
      background-color: $panel-colour;
      margin-right: 1em;
      white-space:nowrap;
    }
  }
}

#global-header-bar {
  display: none;
}

.button-start,
.button-get-started {
  background-color: white!important;
  color: #005EA5!important;
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  background-image: url("/public/images/icons/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .button-start,
  .button-get-started {
    background-image: url("/public/images/icons/icon-pointer-2x.png");
    background-size: 30px 19px;
  }
}

.button-start {
  font-size: 24px;
}

code {
  font-size: 80%;
}
