{% extends "layout.html" %}

{% block page_title %}
  Publish government data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_service.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">

    {% include "includes/get_started.html" %}

    <div class="column-two-thirds">

      <form method="get" action="/get_started/upload/file_upload" class="form">

      {{formData | safe}}

        <h2 class="heading-medium">
          What type of data are you publishing?
        </h2>

        <fieldset>
          <legend class="visuallyhidden">
            What type of data are you publishing?
          </legend>

          <div class="form-group">
            <label for="data-type-1" class="block-label">
              <input type="radio" id="data-type-1" name="data-type" value="spending data">
              Mapping data
            </label>

            <label for="data-type-2" class="block-label">
              <input type="radio" id="data-type-2" name="data-type" value="geographical data">
              Spending data
            </label>

            <label for="data-type-2" class="block-label">
              <input type="radio" id="data-type-2" name="data-type" value="geographical data">
              Statistical data
            </label>

            <label for="data-type-2" class="block-label">
              <input type="radio" id="data-type-2" name="data-type" value="geographical data">
              Data type not on list
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
