{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/create_account/email_sent" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Create an account
        </h1>

        <br>

        <fieldset>
          <legend class="visuallyhidden">
            Enter details
          </legend>

          <div class="form-group">
            <label class="form-label" for="first-name-2">Full name</label>
            <input class="form-control form-control-2-3" id="first-name-2" name="first-name-2" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="last-name-2">Email address</label>
              <span class="form-hint">Must be from a central government organisation</span>
            <input class="form-control form-control-2-3" id="last-name-2" name="last-name-2" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="first-name-2">Mobile number
              <span class="form-hint">We’ll send you a security code by text message</span>
            </label>
            <input class="form-control form-control-2-3" id="first-name-2" name="first-name-2" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="last-name-2">Password
              <span class="form-hint">At least 10 characters</span>
            </label>
            <input class="form-control form-control-2-3" id="last-name-2" name="last-name-2" type="text">
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
