{% extends "layout.html" %}

{% block page_title %}
  Publish government data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_service.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="your_details" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Search for existing account
        </h1>

        <br>

          <legend class="visuallyhidden">
            Search for existing account
          </legend>

          <!-- search box -->
          <div class="in-manual-search">
            <form action="/search">
                    <label class="form-label" for="first-name-2">Organisation name</label>
                    <span class="form-hint">
                      For example Land Registry
                    </span>
                   <input type="hidden" name="filter_manual[]" value="/guidance/content-design">
                   <input id="search-box" type="text" name="q" placeholder="search for department or agency">
                   <button type="submit">search</button>
            </form>
          </div>

        </form>

    </div>
  </div>

</main>
{% endblock %}
