{% extends "layout.html" %}

{% block page_title %}
  Publish government data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_service.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/create_account/email_sent" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Your details
        </h1>

        <br>

        <fieldset>
          <legend class="visuallyhidden">
            Your details
          </legend>

          <div class="form-group">
            <label class="form-label bold" for="first-name-2">Full name</label>
            <input class="form-control form-control-2-3" id="first-name-2" name="first-name-2" type="text">
          </div>

          <div class="form-group">
            <label class="form-label bold" for="email">Your email address</label>
            <input class="form-control form-control-2-3" id="email" name="email" type="text">
          </div>

          <div class="form-group">
            <label class="form-label bold" for="password">Set your password</label>
            <input class="form-control form-control-2-3" id="password" name="password" type="text">
          </div>


        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
