{% extends "layout.html" %}

{% block page_title %}
  Publish government data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_service.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    {% include "includes/side-navigation.html" %}

    <div class="column-two-thirds">

      <form method="get" action="/dashboard" class="form">

        <h1 class="heading-large">
          Contact Details
        </h1>

        <p>The contact details here are publically displayed to allow users<br/>
        to contact your organisation when discussing datasets</p>

        <fieldset>
          <legend class="visuallyhidden">
            What would you like to change?
          </legend>


          <div class="form-group">
            <label class="form-label" for="summary-dataset">Name</label>
            <span class="form-hint">
              The name of the person, or team, who are responsible <br/>
              for Land Registry datasets
            </span>
            <input class="form-control form-control-2-3" id="summary-dataset" name="summary-dataset" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="summary-dataset">Email address</label>
            <span class="form-hint">
              The email address where the team or person above<br/> can be contacted
            </span>
            <input class="form-control form-control-2-3" id="summary-dataset" name="summary-dataset" type="email">
          </div>

          <div class="form-group">
            <label class="form-label" for="summary-dataset">Telephone Number</label>
            <span class="form-hint">
              If one is available, please provide the telephone number for<br/>
              the team, or person, responsible for Land Registry datasets
            </span>
            <input class="form-control form-control-2-3" id="summary-dataset" name="summary-dataset" type="text">
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
