{% extends "layout.html" %}

{% block page_title %}
  Update dataset
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_service.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">


    {% include "includes/side-navigation.html" %}


    <div class="column-two-thirds" style="width:80%;">

      <h1 class="heading-large">Select a dataset to update</h1>

      <div class="filtered-table">
        <div class="filter-panel">
          <div class="grid-row">
            <div class="column-one-half">
              <label for="name">Name: </label>
              <input class="form-control" id="name" type="text">
            </div>
            <input type="submit" class="button filter" value="Filter">
          </div>
        </div>

        <form method="get" action="/manage_data/upload_new_data/upload_data" class="form">
          <table>
            <thead>
              <tr>
                <th scope="col">Select</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" name="select" value="Price Paid Data"/></td>
                <td class="name">Price Paid Data</td>
                <td data-status="ok">OK - next update due 3/2/17</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="select" value="Dataset inventory"/></td>
                <td class="name">Dataset inventory</td>
                <td data-status="update">Update due</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="select" value="Median House Prices"/></td>
                <td class="name">Median House Prices</td>
                <td data-status="ok">OK</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="select" value="Organogram and staff pay data"/></td>
                <td class="name">Organogram and staff pay data</td>
                <td data-status="ok">OK</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="select" value="daMaladministration paymentstaset5"/></td>
                <td class="name">Maladministration payments</td>
                <td data-status="draft">Draft</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="select" value="Archived Price Paid Information"/></td>
                <td class="name">Archived Price Paid Information</td>
                <td data-status="ok">OK</td>
              </tr>
            </tbody>
          </table>
          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
</main>
{% endblock %}
