{% extends "layout.html" %}

{% block page_title %}
  Publish government data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_service.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    {% include "includes/side-navigation.html" %}

    <div class="column-two-thirds">

      <form method="get" action="/harvest/ckan" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Inspire Geo Data
        </h1>

        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

          <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
            The harvester failed to run
          </h1>

          <p>
            There was no response from the server when we tried to contact it.<br/>
            Please check that the URL is correct and the server is running.
          </p>
        </div>


        <table>
          <thead>
            <tr>
              <th colspan="2">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Type</td>
              <td>INSPIRE - WMS</td>
            </tr>
            <tr>
              <td>URL</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Last run</td>
              <td>Yesterday</td>
            </tr>
            <tr>
              <td>Datasets processed</td>
              <td>0</td>
            </tr>
            <tr>
             <td>Warnings</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>



        <h2 class="heading-medium">
        Imported datasets
        </h2>
        <p>No datasets were imported on the last run</p>

    </div>
  </div>

</main>
{% endblock %}
