{% extends "layout.html" %}

{% block page_title %}
  Publish government data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_service.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    {% include "includes/get_started.html" %}
    
    <div class="column-two-thirds">

      <form method="get" action="/get_started/metadata/date_range" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          How metadata works
        </h1>

        <!-- briefly describe what metadata is -->
        <p>
          Metadata is the set of data that describes a dataset.
        </p>

        <p>
          Your datasets having the right metadata is important because:
        </p>

        <ul class="list list-bullet">
          <li>it makes easy to find</li>
          <li>users cans see how regular it is updated</li>
          <li>where the data is from</li>
          <li>who the data belongs to</li>
        </ul>

        <fieldset>
          <legend class="visuallyhidden">
            How metadata works
          </legend>


        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
