{% extends "layout.html" %}

{% block page_title %}
  Publish government data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_service.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}


  <div class="grid-row">

    {% include "includes/side-navigation.html" %}

    <div class="column-two-thirds">

      <form method="get" action="/menu" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Manage datasets
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Manage datasets
          </legend>

          <div class="form-group">
            <label for="update-dataset" class="block-label">
              <input type="radio" id="update-dataset" name="goto" value="/manage_data/upload_new_data">
              Add data to a existing dataset
            </label>

            <label for="create-dataset" class="block-label">
              <input type="radio" id="create-dataset" name="goto" value="/manage_data/upload_new_dataset/title_summary">
              Create a new dataset
            </label>

            <label for="edit-dataset" class="block-label">
              <input type="radio" id="edit-dataset" name="goto" value="/datasets">
              Edit a dataset
            </label>

            <label for="push-data-to-api" class="block-label">
              <input type="radio" id="push-data-to-api" name="goto" value="/manage_data/push">
              Push data via the API
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
