{% extends "layout.html" %}

{% block page_title %}
  Publish government data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_service.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">

    {% include "includes/get_started.html" %}

    <div class="column-two-thirds">

      <form method="get" action="/create_account/email_sent" class="form">

      {{formData | safe}}

        <h3 class="heading-medium">
          Tagging your dataset
        </h3>

        <p>Tagging the themes of your dataset makes it easier to find.</p>

        <p>90.1% of users find data on GOV.UK by browsing themes.</p>

        <br>

        <fieldset>
          <legend class="visuallyhidden">
            Upload a new dataset
          </legend>

          <div class="form-group">
            <label class="form-label" for="title-dataset">Search themes</label>
            <span class="form-hint">
              For example crime and justice
            </span>
            <input class="form-control form-control-2-3" id="title-dataset" name="title-dataset" type="text">
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
