{% extends "layout.html" %}

{% block page_title %}
  Publish government data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_signed_in.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

        
    {% include "includes/side-navigation.html" %}


    <div class="column-two-thirds" style="width:80%;">

      <form method="get" action="/questions/place_type" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Dashboard
        </h1>

        <br>

        <!-- search box -->
        <div class="in-manual-search">
          <form action="/search">
                 <input type="hidden" name="filter_manual[]" value="/guidance/content-design">
                 <input id="search-box" type="text" name="q" placeholder="search your datasets">
                 <button type="submit">search</button>
          </form>
        </div>

        <br>
        <br>

        <div class="column-one-half" id="dashboard-panel">
          <p>Published datasets</p>
          <h2 class="bold-xlarge"><a href="#">592</a></h2>
        </div>

        <div class="column-one-half" id="dashboard-panel">
          <p>Downloads</p>
          <h2 class="bold-xlarge"><a href="#">2</a></h2>
        </div>
        
        <!--
        <div class="column-one-half" id="dashboard-panel">
          <br>
          <p>Most recent published dataset</p>
          <hr>
          <p class="bold">Name</p>
        </div>

        <div class="column-one-half" id="dashboard-panel">
          <br>
          <p>Most recent updated dataset</p>
          <hr>
          <p class="bold">Downloads</p>
        </div>
        -->

    </div>
  </div>

</main>
{% endblock %}
