{% extends "layout.html" %}

{% block page_title %}
  Publish government data
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation_service.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

  <body id="product-style">
    <main id="content" role="main">
      {% include "includes/phase_banner_alpha.html" %}

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">
            Use this service to publish data for your organisation
          </h1>

          <p class="lede">
            You must create an account to use this service.
          </p>

          <p class="lede">
            If you already have an account, sign in to publish a new dataset
            or update an existing one.
          </p>


          <a
            class="button"
            href="/create_account/existing_account"
            role="button"
            style="background-color: #fff; color: #005EA5;">
            Create account
          </a>

          <span class="login-white">  or <a href="/login">sign in</a></span>

          <br>
          <br>

        </div>

      </main>

    </body>

{% endblock %}
