{% extends "layout.html" %}

{% block page_title %}
  product page
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<body id="product-style">

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Data</a>
    </li>
  </ol>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      <!--
      <span class="design-pattern" style="color: #fff;">Code library<br></span>-->
      Publish and manage data on GOV.UK
      </h1>

      <p class="lede">
        Government data for transparency, research or to build applications and services.
      </p>

      <ul class="list list-bullet" id="product-tasks">
        <li><a href="#1">Why publish data</a></li>
        <li><a href="#2">How to publish data</a></li>
        <li><a href="#3">How to manage data</a></li>
        <li><a href="#4">Check risk</a></li>
        <li><a href="#5">Contact product team</a></li>
      </ul>

    <br>

        <a class="button" href="/create_account/existing_account" role="button" style="background-color: #fff; color: #005EA5;">Create account</a><span class="login-white">  or <a href="/login">sign in</a> if you’ve used it before</span>

    <br>
    <br>

  </div>
</div>

<div class="grid-row">

      <div class="column-two-thirds">

      <h3 class="heading-medium" id="1">Why publish data</h3>

      <p>You should use GOV.UK  because it makes it simpler, faster, easier to publish and manage government data.</p>

      <p>It also means you can:</p>

      <ul class="list list-bullet">
        <li>make your data easy to find</li>
        <li>make your data simpler to use</li>
        <li>be open with your data</li>
      </ul>

      <hr>

      <h3 class="heading-medium" id="2">How to publish data</h3>

      <p>Words</p>

      <p>Content:</p>

      <ul class="list list-bullet">
        <li>content</li>
        <li><a href="#">Link</a></li>
        <li>content</li>
      </ul>

      <hr>

      <h3 class="heading-medium" id="3">How to manage data</h3>

      <p>Words</p>

      <p>Content:</p>

      <ul class="list list-bullet">
        <li>content</li>
        <li><a href="#">Link</a></li>
        <li>content</li>
      </ul>

      <hr>

      <h3 class="heading-medium" id="4">Check risk</h3>

      <p>Words</p>

      <p>Content:</p>

      <ul class="list list-bullet">
        <li>content</li>
        <li><a href="#">Link</a></li>
        <li>content</li>
      </ul>

      <hr>

      <h3 class="heading-medium" id="1">Check</h3>

      <p>Words</p>

      <p>Content:</p>

      <ul class="list list-bullet">
        <li>content</li>
        <li><a href="#">Link</a></li>
        <li>content</li>
      </ul>

      <!--

      <hr>

      <h3 class="heading-medium" id="3">Getting started</h3>

      <p><a href="#">Download GOV.UK Frontend code</a></p>

      <p><a href="#">Steps to get code running</a></p>

      -->

      <hr>

      <h3 class="heading-medium" id="5">Contact product team</h3>

      <p>GOV.UK Data is built and supported by a full time team at GDS.</p>

      <p>To contact the team email:</p>

      <p>govuk-frontend@digital.cabinet-office.gov.uk</p>

    </div>
  </div>

</main>

</body>

{% endblock %}


